* {
    margin: 0;
    padding: 0;
}

html,
body{
  font-size: 18px;
  background-color: #f5f6f7;
}

h1{
  max-width: 940px; /*ancho maximo de titulo*/
  font-size: 2.5em; /* tamaño de letra*/
  font-family: Lato, sans-serif; /* tipo de letra */
  font-weight: 700; /* el peso de la letra*/
  line-height: 1.1; /*altura de las lineas*/
  margin: 40px 0; /*margen*/
}

.App{
  min-height: 100vh; /*Altura minima de la aplicacion*/
  display:flex; /*definir ubicacion de elementos*/
  flex-wrap: wrap; /*ubicacion de siguiente linea*/
  align-items: center; /* alinear items verticalmente*/
  justify-content: center; /*centrarlos items horizontalmente*/
  text-align: center; /*el texto se alinea en el centro*/
}

.contenedor-principal{
  min-height: 600px; /*altura minima*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}