.contenedor-testimonio {
    width: 1170px;
    /*ancho*/
    height: 368px;
    /*altura*/
    margin: 10px 10px 50px;
    /*margen*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    /*sombra a la caja*/
}

.imagen-testimonio {
    width: auto;
    height: 100%;
}

.contenedor-texto-testimonio {
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
}

.nombre-Pais-testimonio {
    font-size: 1.3rem;
    /*tamaño de letra*/
}

.cargo-testimonio {
    font-size: 1.3rem;
    margin-bottom: 15px;
    /*para separar texto*/
    padding-bottom: 30px;
}

.texto-testimonio {
    font-size: 1.1.rem;
    text-align: justify;
}